openapi: 3.0.0
info:
  title: Tokotitoh API - documentation
  version: 1.0.0
  description: API documentation for the Tokotitoh application.
servers:
  - url: https://api.tokotitoh.co.id
    description: Production server

components:
  securitySchemes:
    partnerCodeAuth:
      type: apiKey
      in: header
      name: x-partner-code
      description: Partner code required for API access

  schemas:
    SuccessResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        code:
          type: integer
          example: 200
        message:
          type: string
          example: Request successful

    PaginatedResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        code:
          type: integer
          example: 200
        items:
          type: array
          items:
            type: object
        total_pages:
          type: integer
          example: 1
        current_page:
          type: integer
          example: 0

security:
  - partnerCodeAuth: []

paths:
  /partners:
    get:
      tags: [Partner]
      summary: List Partners
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /partner:
    post:
      tags: [Partner]
      summary: Create Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                code: { type: string }
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [Partner]
      summary: Update Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                name: { type: string }
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Partner]
      summary: Delete Partner
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /file-upload:
    post:
      tags: [Upload]
      summary: Upload a file
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /provinces:
    get:
      tags: [Geolocation]
      summary: List Provinces
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /cities:
    get:
      tags: [Geolocation]
      summary: List Cities
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /districts:
    get:
      tags: [Geolocation]
      summary: List Districts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /villages:
    get:
      tags: [Geolocation]
      summary: List Villages
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /categories:
    get:
      tags: [Category]
      summary: List Categories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /category:
    post:
      tags: [Category]
      summary: Create Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [Category]
      summary: Update Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                name: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Category]
      summary: Delete Category
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /subcategories:
    get:
      tags: [SubCategory]
      summary: List SubCategories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /subcategory:
    post:
      tags: [SubCategory]
      summary: Create SubCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                category_id: { type: integer }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [SubCategory]
      summary: Update SubCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                name: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [SubCategory]
      summary: Delete SubCategory
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /brands:
    get:
      tags: [Brand]
      summary: List Brands
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /brand:
    post:
      tags: [Brand]
      summary: Create Brand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [Brand]
      summary: Update Brand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                name: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Brand]
      summary: Delete Brand
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /types:
    get:
      tags: [Type]
      summary: List Types
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /type:
    post:
      tags: [Type]
      summary: Create Type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [Type]
      summary: Update Type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                name: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Type]
      summary: Delete Type
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /users:
    get:
      tags: [User]
      summary: List Users
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /user:
    post:
      tags: [User]
      summary: Create User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string }
                phone: { type: string }
                password: { type: string }
                role: { type: string, enum: [admin, customer] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [User]
      summary: Update User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                name: { type: string }
                password: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [User]
      summary: Delete User
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /user/login:
    post:
      tags: [User]
      summary: User Login
      description: Authenticates a user and triggers an OTP to their email if successful.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identity
                - password
              properties:
                identity:
                  type: string
                  description: Email or phone number of the user.
                  example: alvineyoga@gmail.com
                password:
                  type: string
                  description: User's password.
                  example: password123
      responses:
        "200":
          description: Successful authentication, OTP sent to email.
          content:
            application/json:
              example:
                message: "OTP telah dikirim ke email anda"
                status: "otp_required"
                email: alvineyoga@gmail.com
                code: 200

  /user/admin/login:
    post:
      tags: [User]
      summary: Admin Login
      description: Authenticates an admin user (admin or super_admin) without OTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identity
                - password
              properties:
                identity:
                  type: string
                  description: Email or phone number of the admin.
                  example: admin@tokotitoh.co.id
                password:
                  type: string
                  description: Admin's password.
                  example: adminpassword
      responses:
        "200":
          description: Successful admin login.
          content:
            application/json:
              example:
                status: "success"
                message: "Berhasil Login Admin"
                user:
                  id: 1
                  name: Admin
                  email: admin@tokotitoh.co.id
                  role: admin
                code: 200
        "401":
          description: Invalid password.
        "404":
          description: Admin account not found.

  /user/login/by/google:
    post:
      tags: [User]
      summary: Google Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string }
                uid: { type: string }
                displayName: { type: string }
                photoURL: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /otp/send:
    post:
      tags: [OTP]
      summary: Send OTP
      description: Sends a 6-digit OTP to the user's email address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user.
                  example: alvineyoga@gmail.com
      responses:
        "200":
          description: OTP successfully sent
          content:
            application/json:
              example:
                status: "success"
                message: "OTP sent successfully"
                code: 200

  /otp/resend:
    post:
      tags: [OTP]
      summary: Resend OTP
      description: Resends the OTP to the user's email address. Enforces a 1-minute delay between requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user.
                  example: alvineyoga@gmail.com
      responses:
        "200":
          description: OTP successfully resent
          content:
            application/json:
              example:
                status: "success"
                message: "OTP sent successfully"
                code: 200

  /otp/verify:
    post:
      tags: [OTP]
      summary: Verify OTP
      description: Verifies the provided OTP for the given email address. Auto-verifies the user upon success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - otp
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user.
                  example: alvineyoga@gmail.com
                otp:
                  type: string
                  description: 6-digit OTP received via email.
                  example: "123456"
      responses:
        "200":
          description: OTP successfully verified
          content:
            application/json:
              example:
                status: "success"
                message: "OTP verified successfully"
                code: 200

  /reports:
    get:
      tags: [Report]
      summary: List Reports
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /report:
    post:
      tags: [Report]
      summary: Create Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                description: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [Report]
      summary: Update Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                title: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Report]
      summary: Delete Report
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /notifications:
    get:
      tags: [Notification]
      summary: List Notifications
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
  /notification:
    post:
      tags: [Notification]
      summary: Create Notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                body: { type: string }
                user_id: { type: integer }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [Notification]
      summary: Update Notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                is_read: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Notification]
      summary: Delete Notification
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /ads:
    get:
      tags: [Ads]
      summary: List Ads
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
    post:
      tags: [Ads]
      summary: Create Ad
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                description: { type: string }
                price: { type: number }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    patch:
      tags: [Ads]
      summary: Update Ad
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                title: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Ads]
      summary: Delete Ad
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /ads/calls:
    post:
      tags: [Ads]
      summary: Update Ad Calls Count
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /ads/views:
    post:
      tags: [Ads]
      summary: Update Ad Views Count
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
